<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>http://localhost:9093</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="../../static/css/member.css" /><!-- /static 기준 -->
</head>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>로그인</span><span>회원가입</span></h6>
                  <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                  <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">로그인</h4>
                      <div class="form-group">
                        <input type="email" name="id" class="form-style" placeholder="아이디(이메일)" id="id" >
                        <i class="input-icon uil uil-at"></i>
                      </div>  
                      <div class="form-group mt-2">
                        <input type="password" name="passwd" class="form-style" placeholder="비밀번호" id="passwd" >
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <a href="#" class="btn mt-4">로그인</a>
                                    <p class="mb-0 mt-4 text-center"><a href="#0" class="link">비밀번호를 잊으셨나요?</a></p>
                        </div>
                      </div>
                    </div>
                <div class="card-back">
                  <div class="center-wrap">
                    <h4 class="mb-4 pb-3" style="margin-top: 20px;">회원가입</h4> 
                    <div class="section text-center" style="height:250px; overflow-y: scroll;">
                       
                      <div class="form-group mt-2">
                        <input type="email" name="id" class="form-style" placeholder="아이디(이메일)" id="id"">
                        <i class="input-icon uil uil-at"></i>
                      </div>  
                      <div class="form-group mt-2">
                        <input type="password" name="passwd" class="form-style" placeholder="비밀번호" id="passwd" >
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" name="nickname" class="form-style" placeholder="닉네임" id="nickname" >
                        <i class="input-icon uil uil-lock-at"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" name="name" class="form-style" placeholder="이름" id="name" >
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="tel" name="tel" class="form-style" placeholder="휴대폰 번호(-없이 숫자만 입력)" id="tel" >
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="tel" name="tel" class="form-style" placeholder="휴대폰 번호(-없이 숫자만 입력)" id="tel" >
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="tel" name="tel" class="form-style" placeholder="휴대폰 번호(-없이 숫자만 입력)" id="tel" >
                        <i class="input-icon uil uil-user"></i>
                      </div>
                        </div>
                        <a href="#" class="btn mt-4" style="margin-bottom: 40px;">가입하기</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</html>